@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.render-docs {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.render-docs-header {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.render-docs-header-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 3px;
}
.render-docs-field {
  text-decoration: none;
  color: rgb(64, 129, 250);
}
.render-docs-scalar {
  cursor: pointer;
  text-decoration: none;
  color: rgb(235, 156, 0);
}
.render-docs-scalar:hover {
  text-decoration: underline;
}
.render-docs-content {
  margin-left: 8px;
  margin-top: 16px;
}
.render-docs-types {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
.render-docs-types svg {
  height: 16px;
  margin-right: 8px;
  width: 16px;
}
.render-exp-list {
  list-style-type: none;
  padding: 0;
  margin-left: 8px;
  margin-top: 16px;
}
.render-exp-list-item {
  margin-top: 16px;
}
.render-exp-field {
  margin-left: 8px;
  margin-top: 16px;
}
.render-exp-field-name {
  text-decoration: none;
  color: rgb(64, 129, 250);
}
.render-exp-field-name:hover {
  text-decoration: underline;
}
.render-exp-field-arguments {
  color: rgb(255, 107, 139);
}
.render-exp-field-arguments-single {
  display: inline;
}
.render-exp-field-arguments-notsingle {
  margin-left: 8px;
}
.render-exp-field-type {
  text-decoration: none;
  color: rgb(235, 156, 0);
  cursor: pointer;
}
.render-exp-field-type:hover {
  text-decoration: underline;
}
.render-exp-field-description {
  margin-top: 15px;
}
.render-exp-field-description-dangerously {
  background-color: rgba(0, 0, 0, 0.07);
  color: rgb(0, 0, 0);
  padding: 2px;
  border-radius: 4px;
  font-family: "Fira Code", monospace;
  font-size: 16px;
}
.render-exp-back {
  display: flex;
}
.render-exp-back-link {
  align-items: center;
  color: rgb(255, 0, 187);
  text-decoration: none;
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}
.render-exp-back-link:hover {
  text-decoration: underline;
}
.render-exp-back-link svg {
  height: 8px;
  margin-right: 8px;
  width: 8px;
}
