.docs {
  border: 1px solid green;

  &-link {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &-base {
    color: #f700ff;
  }

  &-nested {
    margin-left: 15px;
  }

  &-type {
    color: #eb9c00;
  }
}
