.docs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;

  &-types,
  &-queries {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-defaultValue {
    color: #2bab7c;
  }

  &-symbol {
    color: #2bab7c;
    font-size: 12px;
  }

  &-args {
    color: #ff6b8b;
  }

  &-link {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &-query {
    color: #4081fa;
  }

  &-base {
    color: #f700ff;
    background-color: white;
    border: none;
  }

  &-nested {
    padding: 5px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &-type {
    color: #eb9c00;
    background-color: white;
    border: none;
  }
}
